#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Header {
  background-color: white;
}

.nav-item .nav-link {
  font-size: 1.5rem;
  padding: 10px 20px;
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.nav-item .nav-link:hover {
  color: black;
  background: transparent;
}

Footer {
  background-color: white;
}

.icon-color {
  color: #f9b460;
}

.icon-color:hover {
  color: black;
}

/* About Page */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.hero img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 40px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 50px;
}

.connect-btn {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.connect-btn:hover {
  border: 2px solid black;
  background: white;
}

.resume-btn {
  padding: 15px 12px;
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s;
}

.resume-btn:hover {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  padding: 15px 12px;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

/* Contact Page */

.custom-input {
  border: 2px solid white; /* Solid black border */
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  color: white; /* Black text */
  padding: 10px; /* Add some padding for better appearance */
  border-radius: 5px; /* Optional: Rounded corners */
  font-size: 1rem; /* Adjust font size */
  outline: none; /* Remove default outline */
}

.custom-input:focus {
  border-color: #c35ff2; /* Change border color on focus */
  box-shadow: 0 0 5px #c35ff2; /* Add a subtle glow effect */
}

label {
  text-align: left;
}

.button {
  margin-top: 25px;
  background: white;
  border: 2px solid black;
  color: black;
}

.button:hover {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  border-color: #c35ff2;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
