#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Header {
  background-color: white;
}

.nav-item .nav-link {
  font-size: 1.5rem;
  padding: 10px 20px;
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.nav-item .nav-link:hover {
  color: black;
  background: transparent;
}

Footer {
  background-color: white;
}

.icon-color {
  color: #f9b460;
}

.icon-color:hover {
  color: black;
}

/* About Page Custom CSS */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-bottom: 80px;
}

.hero img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 40px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 50px;
}

.connect-btn {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.connect-btn:hover {
  border: 2px solid black;
  background: white;
}

.resume-btn {
  padding: 15px 12px;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.resume-btn:hover {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  padding: 15px 12px;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

/* Contact Page Custom CSS */

.custom-input {
  border: 2px solid white;
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.custom-input:focus {
  border-color: #c35ff2;
  box-shadow: 0 0 5px #c35ff2;
}

label {
  text-align: left;
}

.button {
  margin-top: 25px;
  background: white;
  border: 2px solid black;
  color: black;
}

.button:hover {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  border-color: #c35ff2;
  color: white;
}

/* Resume Page Custom CSS */
.custom-accordion {
  margin-top: 40px 0;
  margin-bottom: 50px;
  min-width: 800px;
  max-width: 800px;
}
.accordion-button {
  background: linear-gradient(270deg, #f9b460 10%, #c35ff2 100%);
  color: #ffffff;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.accordion-body {
  white-space: normal;
  padding: 20px;
}
.custom-badge {
  background-color: #f9b460 !important;
  color: white !important;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
